.services-section {
    text-align: start;
    padding: 60px 20px;
    background: #fcc9c9;
    /* Fallback solid color */
    background: radial-gradient(circle, #fcc9c9 10%, #fff 90%);
    transition: height 0.4s ease-in-out;
}

.services-section h2 {
    font-size: 43.6px;
}

.services-section.expanded {
    height: auto;
    padding-bottom: 80px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* .icon {
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
} */

@media (max-width: 1024px) {
    .services-section {
        padding: 40px 15px;
    }

    .services-container {
        flex-direction: row;
        gap: 15px;
    }

    .services-section .space {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {

    /* Tablets */
    .services-section {
        padding: 30px 10px;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .services-container .custom-btn {
        font-size: 16px;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {

    /* Mobile */
    .services-section {
        padding: 20px 10px;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .custom-btn {
        font-size: 14px;
        padding: 8px 16px;
    }

}