.animated-section {
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 0 100px;
}

.image-container {
    flex: 1;
    height: 100%;
    display: flex;
}

.image-container img {

    object-fit: contain;
}

.text-container {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    z-index: 2;
}

.text-container h4 {
    font-size: 1rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}

.text-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 1rem;
}

.text-container p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 2rem;
}

@media (max-width: 1024px) {
    .animated-section {
        flex-direction: column;
        height: auto;
    }

    .image-container {
        width: 100%;
        height: 50vh;
        justify-content: center;
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text-container {
        width: 100%;
        padding: 1.5rem;
        align-items: center;
        text-align: center;
    }

    .text-container h1 {
        font-size: 2rem;
    }

    .text-container p {
        font-size: 0.95rem;
    }

    .join-btn {
        padding: 1.2rem 2rem;
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .text-container h1 {
        font-size: 1.6rem;
        text-align: start;
    }

    .text-container p {
        font-size: 0.85rem;
        text-align: start;
    }

    .join-btn {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }
}