.custom-navbar {
    background-color: var(--primary-color);
    padding: 10px 0;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 14px;
}

.navbar-nav .nav-link:hover {
    color: black;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .dropdown-menu {
    background-color: var(--primary-color);
    border: none;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: black !important;
}

.navbar-toggler {
    color: white !important;
    border: none;
}

.navbar-toggler-icon {
    filter: invert(1);
}

@media (max-width: 992px) {
    .custom-navbar {
        text-align: left;
        padding: 0 15px;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-item {
        margin: 8px 0;
    }

    .dropdown-menu {
        position: static !important;
        float: none;
        width: 100%;
        background-color: var(--primary-color);
        box-shadow: none;
        margin-top: 0;
    }

    .dropdown-menu .dropdown-item {
        padding-left: 20px;
    }
}