.achievements {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 90px;
    gap: 20px;
}

.achievements-content {
    margin: 20px 0;
    flex: 1;
    max-width: 45%;
    min-height: 100%;
}

.achievements-content h2 {
    color: var(--primary-color-light);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2.2rem;
}

.achievements-content p {
    color: black;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.stats {
    margin: 20px 0;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.stat {
    text-align: center;
    padding: 0 30px;
}

.stat h3 {
    color: var(--primary-color-light);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
}

.stat p {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Medium Screens (Tablets) */
@media (max-width: 1024px) {
    .achievements {
        padding: 40px 40px;
    }

    .achievements-content {
        max-width: 100%;
    }

    .stats {
        grid-template-columns: 1fr 1fr;
    }
}

/* Small Screens (Phones) */
@media (max-width: 768px) {
    .achievements {
        flex-direction: column;
        text-align: center;
        align-items: start;
        padding: 30px 20px;
    }

    .achievements-content h2 {
        font-size: 1.8rem;
        text-align: start;
    }

    .achievements-content p {
        font-size: 1.1rem;
        text-align: start;
    }

    .stats {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .stat {
        width: 100%;
        max-width: 300px;
    }
}

/* Extra Small Screens (Tiny devices) */
@media (max-width: 480px) {
    .achievements-content h2 {
        font-size: 1.5rem;
    }

    .stat h3 {
        font-size: 2.5rem;
    }

    .stat p {
        font-size: 1rem;
    }
}