.testimonial-container {
    position: relative;
    padding: 60px 0;
    background: #fff;
    width: 100%;
    margin: auto;
}

.testimonial-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.testimonial-header h2 {
    font-size: 43.8px;
    font-weight: 700;
    margin: 0;
}

.testimonial-nav {
    display: flex;
    gap: 1rem;
    position: relative
}

.custom-swiper-button-next,
.custom-swiper-button-prev {
    border: 2px dotted var(--primary-color);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: var(--primary-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.custom-swiper-button-next::after,
.custom-swiper-button-prev::after {
    font-size: 24px;
}

.hover-effect {
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.hover-effect:hover {
    transform: scale(1.1);
}

.hover-effect:hover .icon {
    transform: rotate(10deg);
    transition: transform 0.3s ease;
}

/* Swiper slides */
.testimonial-swiper {
    padding-bottom: 3rem;
}

.team-card {
    max-width: 350px;
    text-align: justify;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 10px;
    margin: 0;
}

.swiper-slide {
    width: auto !important;
}

.hover-text {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    color: #444;
    font-size: 0.9rem;
    margin-top: 0.8rem;
    text-align: justify;
}

.team-card:hover .hover-text {
    opacity: 1;
    max-height: 200px;
}

.team-card img {
    background: transparent;
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    /* border-radius: 50%; */
    margin: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    mix-blend-mode: multiply;
}

.team-card img:hover {
    /* filter: grayscale(0%); */
}

.team-card h3 {
    color: black;
    font-size: 32px;
    font-weight: 600;
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
}

.team-card h3 span {
    color: var(--primary-color-light);
}

.team-card p {
    margin: 0;
    font-size: 1rem;
    color: black;
}

.team-card p span {
    font-size: 14px;
    font-style: italic;
    color: #444;
    margin-top: 10px;
    line-height: 1.2;
}

/* Responsive */
@media (max-width: 768px) {
    .testimonial-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}