.custom-card {
    border: 1px solid #ddd;
    border-radius: 2rem;
    background-color: #fff;
    min-height: 250px;
    padding-top: 4rem;
    padding-bottom: 2rem;
    position: relative;
}

.quote-icon {
    width: 70px;
    height: 70px;
    top: -30px;
    right: 30px;
}

.quote-icon-inner {
    font-size: 30px;
    color: black;
}

.text-teal {
    color: #00b9b9;
}